body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.credit-card{
    margin-top: 5%;
    position: relative;
    height: 400px;
    width: 700px;
    background-color: hsl(240, 15%, 42%);
    border-radius: 40px;
    align-items: center;
}
.credit-card-head{
    height: 20%;
    border-radius: 40px 40px 0 0;
    background: linear-gradient(to right, hsl(219, 96%, 55%),  hsl(240, 82%, 53%))
}
.chip{
    scale: calc(8);
    position: absolute;
    left: 14%;
    top: 150px;
}
.card-form{
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.card-number, .card-holder-name, .card-validity-date{
    width: 200px;
}
.card-number-value{
    position: absolute;
    top: 40%;
    font-size: 55px;
    left: 8%;
    color: hsla(198,27%,76%,0.6);

}
.card-holder-name-value{
    position: absolute;
    top: 70%;
    font-size: 40px;
    left: 8%;
    color: hsla(198,27%,76%,0.6);

}
.card-validity-date-value{
    position: absolute;
    left: 50%;
    top: 67%;
    font-size: 25px;
    color: hsla(198,27%,76%,0.6);

}
.month-year{
    position: absolute;
    left: 50%;
    top: 68%;
    font-size: 10px;
    color: hsl(240, 41%, 77%);
}
.valid-thru{
    position: absolute;
    left: 45.5%;
    top: 72%;
    font-size: 10px;
    color: hsl(240, 41%, 77%);
    width: 30px;
}


